### Series에서 데이터 선택

파이썬 딕셔너리와 비슷하게 동작

In [1]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [2]:
data['b']

np.float64(0.5)

In [3]:
'a' in data

True

In [4]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

딕셔너리와 비슷하게 수정 요소 추가도 가능

In [6]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

### Series : 1차원 배열

슬라이스, 마스킹, 팬시 인덱싱 등 numpy배열과 똑같은 기본 메커니즘으로 배열 형태의 아이템 선택 가능

In [ ]:
# slicing by explicit index
data['a':'c']   #라벨을 사용해서

a    0.25
b    0.50
c    0.75
dtype: float64

In [8]:
# slicing by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [9]:
# fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

### Indexers: loc, iloc, and ix

In [34]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

아래 두가지의 인덱싱과 슬라이싱에서 비슷해보이지만 차이가 발생 -> 이런 혼란을 없애주기 위해 loc, iloc 등을 사용

In [38]:
data[1]     #explicit index : 라벨로 인덱싱

'a'

In [36]:
data[1:3]   #implicit index : 파이썬 처럼 0,1,2,3 인덱싱

3    b
5    c
dtype: object

loc 속성은 언제나 명시적인 인덱스를 참조하는 인덱싱과 슬라이싱을 가능하게 함

In [11]:
data.loc[1]

'a'

In [ ]:
data.loc[1:3]   
#라벨을 기준으로 인덱싱(explicit) 
#최종 인덱스가 슬라이스에 포함됨

1    a
3    b
dtype: object

iloc 속성은 암묵적인 파이썬 스타일의 인덱스를 참조하게 해줌

In [13]:
data.iloc[1]

'b'

In [ ]:
data.iloc[1:3]
#implicit indexing
#최종 인덱스가 슬라이스에 포함되지 않음

3    b
5    c
dtype: object

### DataFrame에서 데이터 선택

In [43]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [44]:
data['area']    #area는 컬럼을 구분하는 레이블

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [45]:
data.area       #열 이름을 이용해 속성 스타일로도 접근 가능

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [46]:
data.area is data['area']

True

아래 결과가 false 인 이유 

DataFrame은 pop()메서드를 가지고 있어서 data.pop이 'pop'열이 아니라 그 메서드를 가르키는 것으로 되었기 때문

In [27]:
data.pop is data['pop']

False

In [48]:
#새로운 열 추가
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### DataFrame : 2차원 배열

2차원 배열의 보강된 버전으로 볼 수도 있음. values 속성을 이용해 원시 기반 데이터 배열을 확인 가능

In [49]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [50]:
#전치
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [52]:
#data['California']      ##에러!! 실행안됨
data.loc['California']

area       4.239670e+05
pop        3.833252e+07
density    9.041393e+01
Name: California, dtype: float64

iloc 인덱서를 사용하면 DataFrame 개체가 단순 Numpy 배열인 것 처럼, 암묵적 파이썬 스타일의 인덱스를 사용해 배열 인덱싱이 가능하지만, DataFrame인덱스와 열 레이블은 결과에 그대로 유지

In [51]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

loc 인덱서를 사용하면 명시적 인덱스와 열 이름을 사용해 인덱싱 가능

In [ ]:
data.loc[:'Florida', :'pop']    #explicit

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860

마스킹과 팬시 인덱싱 결합

In [55]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [56]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [57]:
data.iloc[0, :] = 90
data

              area       pop     density
California      90        90   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763